body {
  font-family: "YouYuan", "Microsoft YaHei", sans-serif;
  background-color: #ffe6f2;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container, .login-container {
  background-color: #fff0f6;
  width: 400px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px #ffb6c1;
}

input, button {
  font-family: inherit;
  font-weight: bold;
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ff99cc;
}

button {
  background-color: #ff99cc;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #ff66b2;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ffb6c1;
}
